#border-radius-clipboard {
/*  width: 100%;*/
}

#border-radius-data {
  border: none;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}


#circle-content {
  display: grid;
  justify-content: center;
}
