#border_square {
  height: 350px;
  width: 350px;
  border: 2px solid black;
  position: relative;
  display: grid;
  align-items: center;
  background: rgb(9,9,121);
  background: radial-gradient(circle, rgba(9,9,121,1) 38%, rgba(0,212,255,1) 100%);
}

.sliderTopLeft {
  position: absolute;
  top: -36px;
  left: -20px;
  width: 50%;
}

.sliderTopRight {
  position: absolute;
  top: -36px;
  right: -20px;
  width: 50%;
}

.sliderBottomLeft {
  position: absolute;
  left: -20px;
  bottom: -36px;
  width: 50%;
}

.sliderBottomRight {
  position: absolute;
  right: -20px;
  bottom: -36px;
  width: 50%;
}
